.ss-loading-screen .loading-logo { width: 100%; height: 100%; overflow: hidden; position: absolute; background: transparent url(../images/loading-bg.gif) no-repeat 50% 50%; }

.cms-logo a { background-image: none; width: 100%; }
.cms-logo span { margin-left: 5px; }

.ModelAdmin .cms-content-fields .cms-edit-form { overflow-x: auto; }

.adminpermissioncheckboxset li {
    width: auto !important;
}
