.cms table.ss-gridfield-table tbody td button.gridfield-button-email {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-indent: 9999em;
    overflow: hidden;
    vertical-align: middle;
    background: url(/general/images/email-icon.png) no-repeat 2px 0px;
}