.bulk-button .dropdown {
    display: inline-block;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    color: #000;
    vertical-align: top;
}
.bulk-button button span.ui-button-text {
    padding: .4em 1em .4em 2.1em !important;
    margin: 0 !important;
    color: #393939 !important;
}
.col-action_BulkSelect {
    width: 30px;
    text-align: center;
}
.col-action_BulkSelect span {
    margin: 0 !important
}
.bulk-select, .col-bulk-item {
    text-align: center;
}
.bulk-action input {
    margin-left: 0;
}
.hide-edit-link {
    display: none;
}
