.cms table.ss-gridfield-table tbody td button.gridfield-button-active, .cms table.ss-gridfield-table tbody td button.gridfield-button-suspend { 
    width: 15px; 
}
.gridfield-button-active .ui-button-icon-primary, .gridfield-button-suspend .ui-button-icon-primary {
    left: auto; 
}
